
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-blue: #0032a8;
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --primary-dark: rgba(255,255,255,0);
}
body{
    font-family: "Roboto Condensed" sans-serif;
    max-height: 100vh;
    overflow: hidden;
}


/************************* NAVBAR *************************/

nav{
    z-index: 2;
}
.logo {
    width: 16.25rem;
    height: 100%;
}


/******** MENU LINKS ********/

.container ul {
    margin: 0 auto;
}

nav a.nav-link {
  /*  font-weight: 500; */
    
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 00.1875rem solid var(--primary-dark);
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
    border-top: 0.1875rem solid var(--primary-blue);
}

.navbar-nav >li >a:hover{
    border-top: 0.1875rem solid var(--primary-orange);
}


/************************** HEADER ********************/

.header-wraper{
    position: relative;
    background: 
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    ),
    url(background.jpg) no-repeat;
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.main-info{
    
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Condensed" sans-serif;
}

.main-info h1{
    color: var(--primary-orange);
    text-transform: uppercase;
}


/*_____________________ TYPED TEXT __________________*/

.typed-text {
    font-size: 2rem;
    color: var(--primary-white);

}

/*_____________________ HEADER MAIN OFFER BUTTON __________________*/

.btn-main-offer {
    border:1px solid var(--primary-red);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    color: var(--primary-white);
    margin: 2rem;

}

/*_____________________ PARTICLES __________________*/

.tsparticles-canvas-el {
    position: absolute;
    height: 100vh;
    width: 100vh;
    z-index: 1;

}

/*_____________________ CONTACTS __________________*/

.contacts {
    color: var(--primary-orange);
    border: 5px solid var(--primary-orange);
}
.mail{
    color: var(--primary-orange);
    
}
.links{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "face linked";
    
}


  

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    grid-area: face;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    grid-area: linked;
  }

  .fa-gmail {
    background: #007bb5;
    color: white;
  }

  /*_____________________ ABOUTME __________________*/
.profilepic{
    border-radius: 100%;
}

.wrapIt{
    width: 50%;
    height: 65%;
    border: 5px solid var(--primary-orange);
    padding: 50px;
    margin: 0 auto;
    margin-top: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.title{
    align-items: center;
    justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "text pic";
  grid-area: title;
}

.title img { grid-area: pic; }
.title h1 { grid-area: text; }
.description 
{ 
    grid-area: descriprtion;
    text-align: center;
    height: 0vh;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "TITLE"
    "description";
    color: var(--primary-orange);
    
    
}

/*_____________________ EXPERIENCE __________________*/

.exp {
    width: 500px;
    border: 5px solid var(--primary-orange);
    padding: 50px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.text {
    text-align: center;
}

.experience{
    color: var(--primary-orange);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.experience2{
    color: var(--primary-orange);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}